{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Home | {{ users.username }}</title>
{% endblock title %}
    

{% block section %}
    <div class="container-fluid background">
        <div class="konten">
            <div class = "row">            
                
                <div class="col-md-3 my-3 col-6">
                    <div class="hovereffect">
                        <div class="squarepict">
                            <img class="img-responsive" src="{{ users.gambar }}" alt=""/>
                                <div class="overlay"><br>
                                    <h5 class="kontentext">{{ users.nama }}</h5> 
                                <p><a class="info" href="#">Catagory</a>
                                <a class="info" href="#">Artist</a></p>
                                </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> 
    </div>
    
{% endblock section %}